/** @format */

@import './partials/fonts';
@import './partials/colors';

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-image: url('./images/rocket_takeoff.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $black;
  color: $white;

  .app {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    background: transparentize($black, 0.7);

    .logo {
      font-family: b;
      font-size: 30px;
      margin: 10px;
    }
    .landing {
      padding: calc(1vh + 1vw);

      .banner {
        display: flex;
        flex-direction: row;
        // height: 50vh;
        padding: 20px;
        align-items: center;
        flex-wrap: wrap-reverse;
        .text {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 40px;

          .leading {
            font-size: 50px;
            font-family: b;
            letter-spacing: 1.2px;
            .highlight {
              font-family: b;
              color: $purple;
              text-shadow: transparentize($white, 0.4) 0 0 100px;
            }
          }

          .trailing {
            font-size: 20px;
            letter-spacing: 1px;
            opacity: 1;
          }

          .actions {
            display: flex;
            align-items: center;
            gap: 50px;
            // justify-content: space-between;

            button {
              background: $purple;
              color: $white;
              font-size: 18px;
              border: none;
              padding: 20px 50px;
              text-transform: uppercase;
              border-radius: 30px;
              letter-spacing: 1.2px;
              cursor: pointer;
              transition: 0.3s ease-in-out;
              &:hover {
                color: $purple;
                background: $white;
              }
            }
            .social-links {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 50px;

              svg {
                transform: scale(2);
              }
            }
          }

          .stats {
            display: flex;
            align-items: center;
            // gap: 50px;
            gap: 10%;
            justify-content: flex-start;

            .stat {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: fit-content;
              //   gap: 10px;
              .main {
                font-size: 40px;
                // font-family: sb;
              }
              .desc {
                font-family: l;
                opacity: 0.6;
              }
            }
          }
        }
        img {
          //   width: 100%;
          flex: 1;
          height: 100%;
          max-height: 60vh;
          max-width: 100%;
          border-radius: 80px 80px 0 0;
          box-shadow: $white 0 0 50px;
        }
      }

      .search {
        background: $white;
        color: $black;
        padding: 10px;
        border-radius: 10px 10px 0 0;
        border: none;

        .title {
          font-size: 30px;
          font-family: b;
        }
        .search-form {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;

          z-index: 9;
          // margin-top: -50px;
          padding: 10px;
          max-width: calc(100vw - calc(2vh + 2vw));

          .form-group {
            flex: 1;
            display: flex;

            flex-direction: column;
            justify-content: flex-end;
            padding: 5px;
            border-radius: 10px;
            //   height: 100px;
            //   gap: 5px;
            border: solid 1px $black;
            //   background: $white;

            color: black;
            label {
              font-size: 12px;
            }
            select,
            input {
              // flex: 1;
              background: none;
              outline: none;
              border: none;
              font-size: 16px;
              min-width: 200px;
              height: 30px;
              // padding: 10px;
            }

            &.button {
              align-items: center;
              justify-content: center;
              padding: 18px;
              width: 200px;
              font-size: 16px;
            }
          }
        }
      }

      .loading {
        display: flex;
        margin: 30px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 30px;
        svg {
          animation: spinning 1s 0s infinite linear;
        }
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
        // margin: 10px 0;
        padding: 20px;
        background: $white;
        border-radius: 0 0 10px 10px;
        border: none;
        color: black;
        .capsule {
          position: relative;
          //   border: solid 1px $black;
          box-shadow: inset $black 0 0 100px;
          padding: 10px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 200px;
          transition: 0.3s ease-in-out;
          flex-direction: column;
          cursor: pointer;
          background: transparentize($purple, 0.6);

          &:hover {
            background: transparentize($black, 0.6);
            color: $white;
          }

          span {
            position: absolute;
            bottom: 20px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.modal {
  position: absolute;
  top: 50vh;
  background: $white;
  color: black;
  padding: 10px;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 99;
  border-radius: 5px;
  box-shadow: $black 0 0 50px;
  min-width: 320px;

  .title {
    font-family: b;
    font-size: 18px;
    position: relative;

    .badge {
      background: $purple;
      color: $white;
      font-size: 12px;
      padding: 5px 10px;
      border-radius: 50%;
    }
  }

  table {
    margin: 5px 0;
    width: 100%;
    thead {
      background: $black;
      color: white;
      th {
        text-align: start;
        padding: 2px 5px;
      }
    }
    tbody {
      tr {
        td {
          padding: 2px 5px;
        }

        &:nth-child(even) {
          background: transparentize($black, 0.8);
        }
      }
    }
  }

  button {
    background: $purple;
    border: none;
    font-size: 16px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .no-mission {
    color: $purple;
  }
}

@media only screen and (max-width: 600px) {
  body {
    .app {
      .landing {
        .banner {
          .text {
            .leading {
              font-size: 35px;

              letter-spacing: 1px;
              margin-top: 30px;
              .highlight {
                text-shadow: transparentize($white, 0.1) 0 0 10px;
              }
            }

            .trailing {
              font-family: l;
              font-size: 16px;
              letter-spacing: 1px;
              opacity: 0.8;
            }

            .actions {
              gap: 20px;
              button {
                background: $purple;
                color: $white;
                font-size: 14px;
                border: none;
                padding: 10px 40px;
                text-transform: uppercase;
                border-radius: 20px;
              }

              .social-links {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                svg {
                  transform: scale(1.2);
                }
              }
            }

            .stats {
              display: flex;
              align-items: center;
              // gap: 50px;
              justify-content: space-between;

              .stat {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: fit-content;
                //   gap: 10px;
                .main {
                  font-size: 30px;
                  // font-family: sb;
                }
                .desc {
                  font-family: l;
                  opacity: 0.6;
                }
              }
            }
          }
          img {
            //   width: 100%;
            flex: 1;
            height: 100%;
            max-height: 60vh;
            max-width: 100%;
            border-radius: 20px;
            box-shadow: transparentize($purple, 0.5) 0 0 50px;
          }
        }

        .loading {
          flex-direction: column;
          span {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
